.rocket {
  display: flex;
  max-width: 90vw;
  margin: 2rem auto;
}

.rocket img {
  min-width: 260px;
  width: 20vw;
  margin: 10px 2rem;
}

.rocket h2 {
  margin-top: 10px;
}

.rocket p {
  max-width: 850px;
}

.rocket span {
  background-color: #18a2b8;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 7px;
  margin-bottom: 5px;
  color: white;
}

.rocket .book {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  color: white;
}

.rocket .cancel {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: 1px solid #6d757d;
  background-color: white;
  border-radius: 5px;
  color: #6d757d;
}
